
extends layout

block content
  h2 #{title}  
  form(method="POST")
    div.form-group 
      label(for="name") 圈名： 
      input#name.form-control(type='text', placeholder='输入您兴趣圈的圈名吧' name='name' required value=(undefined===group ? '' : group.name) )
      br
      label(for='description') 简介喵:
      textarea#description.form-control(placeholder='简介' name='description' required)= undefined===group ? '' : group.description 
      button.btn.btn-primary(type='submit') 提交