doctype html
html(lang="zh-CN")
  head
    //link(rel="stylesheet",href="stylesheets/style.css")
    link(rel="stylesheet",href="https://cdn.jsdelivr.net/npm/picnic")
    meta(charset="utf-8")
    title mg's 兴趣圈(测试版)
  body
    div(style="overflow: hidden;height: 250px;")
      nav
        ul
         li
            a(href="/")
             button 主页
         li
            a(href="/login")
             button 登录
          li
            a(href="/group/create")
              button 创建新圈
    header.card
      h1 mg's 兴趣圈
    main
      article.card
        p 欢迎来到兴趣圈！#{username}
        block content
    footer
      p made by MacGuffin
