html {
  font-size: 20px; /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
  font-family: "楷体", sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。 */
} 
a:hover{
    color: blueviolet;
  }
body{
  background-image: url("../images/background.png");
  background-size:cover;
}
body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
  margin: auto;
  padding: auto;
}
li{
  justify-content: center;
  align-items: center;
  width: 80vh;
  margin: auto;
  padding: auto;
}
h1{
  text-align:center;
}
h2{
 position:relative;
 left:40px;
}
div.third{
  justify-content: center;
  align-items: center;
  width: 40vh;
  margin: auto;
  padding: auto;
}
form.login{
  background-image: url("../images/background.png");
  justify-content: center;
  align-items: center;
  width:50vh;
  height: 35vh;
  margin: auto;
  padding: auto;
  border-radius: 10px;
}
form{
  justify-content: center;
  align-items: center;
  width:80vh;
  margin: auto;
  padding: auto;
  border-radius: 10px;
}
