name: test

on: push

 
            
            
jobs:
  job1:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: supercharge/mongodb-github-action@1.11.0
    - run: node --version
    - run: npm run devstart